name: Build KeyCastOW

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-on-cloud:
    runs-on: windows-latest

    steps:
    # 1. 拉取代码
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. 配置 MSBuild 环境
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    # 3. 【修正】明确指定文件名 keycastow.vcxproj
    - name: Build
      run: msbuild keycastow.vcxproj /p:platform=win32 /p:Configuration=Release

    # 4. 上传生成的 exe 文件
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: KeyCastOW-Release
        path: |
          **/Release/*.exe
          **/Release/*.dll
